<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Kawayanagi</title>

    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
<div class="ui fixed inverted menu">
    <a class="item" href="/">Kawayangi</a>
    <a class="item" href="/content">Content</a>
    <a class="item" href="https://github.com/kkisic/web-test">Source</a>
</div>

<div class="ui main container">
    <div class="ui container left aligned">
        <form class="ui form" method="post" action="/content">
            <div class="fields">
                <div class="two wide field">
                    <label>Handle Name</label>
                    <input type="text" name="author" placeholder="author">
                </div>
                <div class="two wide field">
                    <label>Kaminoku</label>
                    <input type="text" name="body0" placeholder="******">
                </div>
                <div class="three wide field">
                    <label>Nakanoku</label>
                    <input type="text" name="body1" placeholder="*******">
                </div>
                <div class="two wide field">
                    <label>Shimonoku</label>
                    <input type="text" name="body2" placeholder="*****">
                </div>
                <button class="ui olive button">send</button>
            </div>
        </form>
    </div>

    <div class="ui divider"></div>

    <div class="ui container left aligned">
        <tr th:each="post:${form}">
            <div class="ui comments">
                <div class="comment">
                    <a class="author" th:text="${post.author}"></a>
                    <div class="metadata">
                        <span class="data" th:text="${post.time}"></span>
                    </div>
                    <div class="text" th:text="${post.body0}"></div>
                    <div class="text" th:text="${post.body1}"></div>
                    <div class="text" th:text="${post.body2}"></div>
                </div>
            </div>
        </tr>

        <div class="ui comments">
            <div class="comment">
                <a class="author">Hoge</a>
                <div class="metadata">
                    <span class="data">Today at 6:25</span>
                </div>
                <div class="text">
                    サラダはね 朝に食べると おいしいよ
                </div>
            </div>
        </div>

        <div class="ui comments">
            <div class="comment">
                <a class="author">Huga</a>
                <div class="metadata">
                    <span class="data">Today at 6:35</span>
                </div>
                <div class="text">
                    朝6時 睡魔限界 もう寝たい
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
